################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarsAPI/.vs/CarsAPI
/CarsAPI/obj
/CarsAPI/bin/Debug/net8.0
