################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarsAPI/.vs/CarsAPI
/CarsAPI/obj
/CarsAPI/bin/Debug/net8.0
/Cars.Data/obj
/Cars.Data.Models/obj
/Cars.Web.Infrastructure/obj
/Cars.Web.ViewModels/bin/Debug/net8.0
/Cars.Web.ViewModels/obj
/CarsAPI.Services.Data/obj
/Cars.Data/bin/Debug/net8.0
/Cars.Data.Models/bin/Debug/net8.0
/CarsAPI.Services.Data/bin/Debug/net8.0
